$bg-white: white;
$br: 2px solid grey;

label {
    margin: 0 0 2rem 0;
    font-weight: 600;
    font-size: 18px;
}

input {
    margin: 0 0 2rem 0;
    border: $br;
    border-radius: 5px;
    height: 2rem;
    padding-left: 1rem;
}
.input-container {
    display: flex;
    flex-direction: column;
}



