label {
    margin: 10px 20px;
}
input {
    margin: 0 0 2rem 0;
}

section {
    margin: 0 0 0 1rem;
    display: flex;
    gap: 1rem;
}
section div:first-of-type {
    background-color: red;
}
div {
    width: 5rem;
    height: 1rem;
    border-radius: 5px;
    border: solid 1px grey;
    background-color: lightgrey;
}

