$bg-white: white;
$br: 2px solid grey;

label {
    margin: 0 0 1rem 0;
    font-weight: 600;
}
form {
    background-color: $bg-white;
    border: $br;
    border-radius: 5px;
    padding: 1rem;
}
input {
    margin: 0 0 1rem 0;
    border: $br;
    border-radius: 5px;
    height: 2rem;
    padding-left: 1rem;
}
.input-container {
    display: flex;
    flex-direction: column;
}
section {
    margin: 0;
    display: flex;
    gap: 1rem;
    div {
        width: 10rem;
        height: 1rem;
        border-radius: 5px;
        border: $br;
    }
}


