
main {
    margin: 0 auto;
    width: 35%;
    max-height: 30%;
    transform: translateY(35%);
    h1 {
        text-align: center;
        padding: 2rem 0;
        color:white;
        font-size: 40px;
    }
    
}
