* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body{
    margin: 0;
    background: rgb(130,124,213);
    background: linear-gradient(90deg, rgba(130,124,213,1) 0%, rgba(145,92,189,1) 35%, rgba(219,183,212,1) 100%);
}
